<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <!--CONSOLE-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Rolling File-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--파일 경로-->
        <file>./log/myApps.txt</file>
        <!--출력 패턴-->
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n</pattern>
        </encoder>
        <!--Rolling 정책-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- .gz, .zip 등을 넣으면 자동 일자별 로그 파일 압축-->
            <fileNamePattern>./log/myApps.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--파일당 최고 용량-->
            <maxFileSize>10MB</maxFileSize>
            <!--1일 유효-->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>