<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Environment 내의 프로퍼티들을 개별적으로 설정-->
    <!-- log file path -->
    <property name="LOG_PATH" value="C:/Users/sanghpark/IdeaProjects/sanghproject/log"/>
    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="local_log"/>
    <!-- err log file name-->
    <property name="ERR_LOG_FILE_NAME" value="err_log" />
    <!-- pattern -->
    <property name="LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n"/>

    <!-- Conslole Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--파일 경로-->
        <file>${LOG_PATH}/filelog/${LOG_FILE_NAME}</file>
        <!--출력 패턴-->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!--Rolling 정책-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- .gz, .zip 등을 넣으면 자동 일자별 로그 파일 압축-->
            <fileNamePattern>${LOG_PATH}/filelog/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--파일당 최고 용량-->
            <maxFileSize>10MB</maxFileSize>
            <!--1일 유효-->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Error Appender-->
    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- LevelFilter -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!--파일 경로-->
        <file>${LOG_PATH}/errlog/${ERR_LOG_FILE_NAME}</file>
        <!--출력 패턴-->
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <!--Rolling 정책-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- .gz, .zip 등을 넣으면 자동 일자별 로그 파일 압축-->
            <fileNamePattern>${LOG_PATH}/errlog/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--파일당 최고 용량-->
            <maxFileSize>10MB</maxFileSize>
            <!--1일 유효-->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- root레벨 설정-->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="Error"/>
    </root>

</configuration>