<?xml version="1.0" encoding="UTF-8" ?>
<configuration >
    <!-- apepender : How   -->
    <!-- CONSOLE -->
    <!-- console-appender.xml : org.springframework.boot:spring-boot:2.7.3에 위치 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>   // application.properties에 설정
        </encoder>
    </appender>

    <!-- FILE -->
    <!-- file-appender.xml : org.springframework.boot:spring-boot:2.7.3에 위치 -->
    <!-- FileAppender를 상속한 RollingFileAppender를 사용 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern> // application.properties에 설정
        </encoder>
        <file>${LOG_FILE}</file>
        <!-- TimeBasedRollingPolicy supports automatic file compression.
        This feature is enabled if the value of the fileNamePattern option ends with .gz or .zip.       -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- fileNamePattern 삭제 시 에러 발생 -->
            <fileNamePattern>${LOGBACK_ROLLINGPOLICY_FILE_NAME_PATTERN:-${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz}</fileNamePattern>
            <cleanHistoryOnStart>${LOGBACK_ROLLINGPOLICY_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <!-- maxFileSize 삭제 시 에러 발생 왜? 필수? -->
            <maxFileSize>${LOGBACK_ROLLINGPOLICY_MAX_FILE_SIZE:-10MB}</maxFileSize>
            <totalSizeCap>${LOGBACK_ROLLINGPOLICY_TOTAL_SIZE_CAP:-0}</totalSizeCap>
            <maxHistory>${LOGBACK_ROLLINGPOLICY_MAX_HISTORY:-7}</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- logger는 여러개를 가질 수 있으며 root를 상속받는다  -->
    <!-- logger : when(name) / what(level) / where(appender) -->
    <logger name="iotree.sanghproject" level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.web" level="TRACE">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <!-- root는 최대 하나를 가질 수 있음 -->
    <!-- 전체 패키지를 logger 태그로 설정하여, logger 태그와 중복되는 level은 2개씩 중복되서 나온다. -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>